.Home {
    @include verticalCenter;
    flex-direction : column;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
}

.Home .letter {
    color       : var(--special-primary);
    padding-left: 0.5em;
}

#phrase {
    margin: 1em 0 2em;
}

.best {
    width         : 80vw;
    display       : flex;
    margin        : 1em;
    color         : var(--text-primary);
    flex-direction: column;
    align-items   : center;
    text-align    : center;
}

/*
podium
*/
.podium {
    margin        : 1em;
    display       : flex;
    flex-direction: column;
    align-items   : center;
    gap           : 2em;
}

.best23global {
    display: flex;
    gap    : 3em;
}

.bestplayer {
    display        : flex;
    justify-content: center;
    align-items    : center;
    height         : 2em;
    margin         : 0;
    color          : var(--bg-primary);
    border-radius  : 5px;
}

.first {
    background: linear-gradient(45deg, #fffb0a, #fffb0a, #fffb0a, #fffb0a, #fffc9e, #fffb0a, #fffb0a);
    animation       : breathe1 0.7s infinite ease-in;
}

.second {
    background: linear-gradient(45deg, #aaaaaa, #aaaaaa, #aaaaaa, #aaaaaa, rgb(218, 218, 218), #aaaaaa, #aaaaaa);
    animation       : breathe2 0.7s infinite ease-in;
}

.third {
    background: linear-gradient(45deg, #8b4513, #8b4513, #8b4513, #8b4513, #b16d3d, #8b4513, #8b4513);
    background-color: #8b4513;
    animation       : breathe3 0.7s infinite ease-in;
}

@keyframes breathe1 {
    0% {
        width: 4.9em;
        box-shadow:
            0 0 100px 30px #fffb0a,
    }

    50% {
        width: 5em;
        box-shadow:
            0 0 120px 30px #fffb0a,
    }

    100% {
        width: 4.9em;
        box-shadow:
            0 0 100px 30px #fffb0a,
    }
}

@keyframes breathe2 {
    0% {
        width: 4.9em;
        box-shadow:
            0 0 100px 30px #aaaaaa;
    }

    50% {
        width: 5em;
        box-shadow:
            0 0 110px 30px #aaaaaa;
    }

    100% {
        width: 4.9em;
        box-shadow:
            0 0 100px 30px #aaaaaa;
    }
}

@keyframes breathe3 {
    0% {
        width: 4.9em;
        box-shadow:
            0 0 100px 30px #8b4513;
    }

    50% {
        width: 5em;
        box-shadow:
            0 0 120px 30px #8b4513;
    }

    100% {
        width: 4.9em;
        box-shadow:
            0 0 100px 30px #8b4513;
    }
}



.globalinfo {
    width          : 80vw;
    gap            : 1em;
    margin-top     : 4em;
    flex-wrap      : wrap;
    display        : flex;
    color          : var(--text-primary);
    font-style     : italic;
    justify-content: center;
}

h1 {
    display       : flex;
    letter-spacing: 0.3ch;
    flex-direction: row;
}

/*
Global
*/
.global {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
    width          : 70vw;
    margin-bottom  : 5em;
}

.myglobalscore {
    display       : flex;
    align-items   : center;
    text-align    : center;
    flex-direction: column;
    color         : var(--text-secondary);
    gap           : 1em;

    div {

        gap: 3em;
    }
}

.myglobalscores {
    padding-bottom: 1em;
    border-bottom : var(--special-primary) solid 3px;

    div {
        color          : var(--text-primary);
        display        : flex;
        justify-content: space-between;
    }

    p {
        color: var(--special-primary);
    }
}

.globalscore {
    display       : flex;
    flex-direction: column;
    text-align    : center;
}

.myglobalscore h1 {
    justify-content: center;
    color          : var(--special-secondary);
}

.top {
    display    : flex;
    align-items: center;
}

.ptop {
    display       : flex;
    flex-direction: column;
}

th {
    font-size: 1.5em;
}

.globalrow {
    margin: 1em;
}

.myglobalrow {
    color      : var(--special-secondary);
    margin     : 1em;
    font-weight: bolder;
}

header {
    top       : 0;
    margin    : 1em;
    color     : var(--special-primary);
    text-align: center;
}