.Home {
    @include verticalCenter;
    flex-direction : column;
    flex-wrap      : wrap;
    align-items    : center;
    justify-content: center;
}

#phrase {
    margin-top: 3em;
}

.username {
    color  : var(--special-secondary);
    padding: 2em;
}

/*
TABLES
*/
.global {
    display        : flex;
    justify-content: space-around;
    flex-wrap      : wrap;
    width          : 70vw;
    margin-bottom  : 5em;
}

.myglobalscore {
    display       : flex;
    align-items   : center;
    text-align    : center;
    flex-direction: column;
    color         : var(--text-secondary);
    gap           : 1em;

    div {

        gap: 3em;
    }
}

.myglobalscore h1 {
    justify-content: center;
    color          : var(--special-secondary);
}

.top {
    display    : flex;
    align-items: center;
}

.top p {}

.ptop {
    display       : flex;
    flex-direction: column;
}

.Home .letter {
    color       : var(--special-primary);
    padding-left: 0.5em;
}

h1 {
    display       : flex;
    letter-spacing: 0.3ch;
    flex-direction: row;
}

header {
    top       : 0;
    margin    : 1em;
    color     : var(--special-primary);
    text-align: center;
}