.login {
    @include verticalCenter;
    flex-direction: column;
    gap           : 2em;
    text-align: center;
    #name {
        display: flex;
        flex-direction: column;
    }
    #password {
        display: flex;
        flex-direction: column;
    }
}

.login h2 {
    margin: 1em;
}

.letter {
    color: var(--special-primary);
}
.login .buttons {
    display: flex;
}