.login {
    @include verticalCenter;
    flex-direction: column;
    gap           : 2em;

    #name {
        text-align: center;
        display   : grid;
    }

    #password {
        text-align: center;
        display   : grid;
    }
}
.letter {
    color: var(--special-primary);
}
.login .buttons {
    display: flex;
}