.profile {
    height: 100%;
    font-family: 'Open Sans';

    .details {
        width: 50%;
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 5%;
        margin-left: 27.5%;

        h2, h4 {
            margin: 1rem;
            color: rgba(255, 255, 255, 0.746);
        }
        .star {
            color: rgba(255, 255, 0, 0.726);
        }
    }
}
