.signup {
    @include verticalCenter;
    flex-direction: column;
    gap           : 2em;

    #name {
        text-align: center;
        display   : grid;
    }

    #password {
        text-align: center;
        display   : grid;
    }
}

h1 .letter {
    padding: 0;
}