/******
  General
******/

body {
  background-color: rgb(151, 151, 151);
}

p, h2 {
  margin: 0;
}

label {
  margin: 1em;
  font-size: 2em;
}

/******
  Signup
******/

.add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.users {
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

.user {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 1em;
}

/******
  Buttons
******/

input {
  width: 10em;
  font-size: 15px;
  padding: 1em;
}
button {
  margin: 2em;
  padding: 1em;
}

/******
  Navigation bar
******/
.Navigation {
  font-size: 2em;
  margin: 0;
  /* text-decoration: none; */
  list-style: none;
}

.menu {
  display: flex;
  justify-content: flex-end;
  margin: 1em;
}

/******
  Home
******/

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Home .routes {
  display: flex;
  justify-content: center;
  align-items: center;
}