/******
  General
******/

@mixin verticalCenter {
  display        : flex;
  justify-content: center;
  align-items    : center;
}

:root {
  font-family        : 'Open Sans';
  --text-primary     : #b6b6b6;
  --text-secondary   : #ececec;
  --special-primary  : #FFBA08;
  --special-secondary: #e85d04;
  --bg-primary       : #370617;
  --bg-secondary     : #03071E;
  --transition-speed : 600ms;
}

body {
  background-color: var(--bg-primary);
  color           : var(--text-primary);
}

/*
Scrollbar
*/
body::-webkit-scrollbar {

  width: 0.25rem;
}

body::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
  background: var(--special-primary);
}

p,
h2 {
  margin: 0;
}

label {
  margin   : 0.3em;
  font-size: 1.2rem;
}

/******
    Buttons
  ******/

input {
  width     : 20rem;
  height    : 2rem;
  font-size : 15px;
  padding   : 1em;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.24);
}

input:hover {
  background-color: rgba(214, 214, 214, 0.904);
}

button {
  margin       : 2em;
  padding      : 1em;
  border-radius: 5px;
  box-shadow   : 3px 3px rgba(0, 0, 0, 0.274);
}

.button:active {
  transform: translateY(4px);
}

.phaser {
  display        : flex;
  flex-direction : column;
  justify-content: center;
  align-items    : center;
}